{% extends 'pcf/default.html' %}
{% load widget_tweaks %}

{% block title %}Смена пароля{% endblock %}

{% block content %}
    <h1 class="text-light my-3">{% if token_fail %}Неверный токен{% else %}Смена пароля{% endif %}</h1>
    <div class="container-fluid rounded-5 inner-shadow my-4 col-md-8 col-lg-6 bg-light pt-4 pb-1">
    {% if token_fail %}
        <p>Вы перешли по ссылке, которая, предположительно, уже была использована для смены пароля. Пожалуйста, нажмите на кнопку ниже чтобы мы смоги отправить еще одно письмо</p>
        <a href="{% url 'account_reset_password' %}" class="btn btn-warning mb-4 mt-3">Сброс пароля</a>
    {% else %}
        <form method="POST" action="{{ action_url }}">
            {% csrf_token %}
            {% for f in form %}
                {{ f|add_class:'form-control my-3 mx-auto'|attr:'style:max-width:400px' }}
            {% endfor %}
            <button type="submit" class="btn btn-warning my-4">Сменить пароль</button>
        </form>
    {% endif %}
    </div>
{% endblock %}