{% extends 'pcf/default.html' %}
{% load widget_tweaks %}

{% block title %}Сброс пароля{% endblock %}

{% block content %}
    <h1 class="text-light my-3">Сброс пароля</h1>
    <div class="container-fluid rounded-5 inner-shadow my-4 col-12 col-ls-8 bg-light pt-4 pb-1">
        <p>Забыли свой пароль? Введите свой e-mail и мы пришлем вам письмо со ссылкой на его сброс.</p>
        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset my-4">
            {% csrf_token %}
            {% for f in form %}
                {{ f|add_class:'form-control mx-auto'|attr:'style:max-width:350px' }}
            {% endfor %}
            <button type="submit" class="btn btn-warning mt-4 mb-2">Сбросить пароль</button>
        </form>
        <p>Свяжитесь с нами, если у вас возникли сложности со сменой пароля.</p>
    </div>
{% endblock %}