{% extends 'pcf/default.html' %}

{% block title %}Создание новости для рассылки{% endblock %}

{% block content %}
    <h1 class="my-3 text-light">Создание новости для рассылки</h1>
    <div class="container-fluid rounded-5 inner-shadow py-4 my-4 col-12 col-ls-8 bg-light bg-gradient"
     style="max-width: 900px">
        <form method="post">
            {% csrf_token %}
            {{ form.media }}
            {% for f in form %}
                <div class="my-4">{{ f }}</div>
            {% endfor %}
            <button type="submit" class="btn btn-warning my-3">
                Разослать
            </button>
        </form>
    </div>
{% endblock %}