{% extends 'pcf/default.html' %}
{% load widget_tweaks %}

{% block title %}Подтверждение email{% endblock %}

{% block content %}
    <h1 class="my-4 text-light">Подтверждение email</h1>
    <div class="container d-flex flex-column inner-shadow bg-light rounded-5 p-3" style="max-width: 300px">
        <form method="post" action="{% url 'verify_email' %}">
            {% csrf_token %}
            {% for f in form %}
                <h5 class="mb-4">{{ f.label }}</h5>
                {{ f|add_class:'mx-auto text-center'|attr:'style:width:150px' }}
            {% endfor %}
            {% if form.errors %}
                <div class="d-flex justify-content-center mt-4">
                    <ul class="list-unstyled list-group">
                        {% for name, errors in form.errors.items %}
                            {% for error in errors %}
                                <li class="list-group-item list-group-item-danger">{{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <button class="btn btn-warning mt-5 mb-2" type="submit">Подтвердить</button>
        </form>
    </div>

    <div class="container d-flex flex-column inner-shadow bg-light rounded-5 p-3 my-4" style="max-width: 300px">
        <p>Не пришло письмо с кодом?</p>
        <a class="btn btn-warning" href="{% url 'resend_code' %}">Отправить повторно</a>
    </div>
{% endblock %}